# Inherited ignores
*.o
*.log
*.trs
*~
.deps/
.dirstamp
Makefile
Makefile.in

# Top dir ignores
autom4te.cache/
build-aux/
build-tree/
INSTALL
configure
config.*
aclocal.m4
stamp-h1

debsig-verify
debsig-verify.1
